:root {
  --black: #131313;
  --gray: #838383;
  --white: #FFFFFF;
  --white2: #ECECEC;
  --red: #FF393A;
}

@font-face {
  font-family: 'Kollektif';
  src: url('Fonts/Kollektif.ttf')  format('truetype');
}

@font-face {
  font-family: 'Kollektif Bold';
  src: url('Fonts/Kollektif-Bold.ttf')  format('truetype');
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('Fonts/GlacialIndifference.otf');
}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url('Fonts/GlacialIndifferenceBold.otf');
}

.kollektif {
  font-family: "Kollektif";
}

.kollektif-bold {
  font-family: "Kollektif Bold";
}

.glacial-indifference {
  font-family: "Glacial Indifference";
}

.glacial-indifference-bold {
  font-family: "Glacial Indifference Bold";
}

.highlights {
  font-size: 36px;
}

/* general styles */
html, body {
  height: 100%;
  width: 100%;
}

@media (min-width: 700px) {
  .section {
    height: 100vh;
  }
  /* padded section */
  .pad-section {
    padding: 50px 0;
  }
  .pad-section img {
    width: 100%;
  }
  /* vertical-centered text */
  .text-vcenter {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
  }
  .text-vcenter h1 {
    font-size: 4.5em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  /* additional sections */
  #home {
    background: url(Images/header.jpg) no-repeat center center fixed;
    background-color: black;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

body {
  font-family: 'Kollektif', sans-serif;
}

p,.btn {
  font-family: 'Glacial Indifference Bold', sans-serif;
}

.btn {
  font-weight: bolder;
}

.btn-primary {
  background-color: var(--black);
  border-color: var(--white);
}

.btn-primary:hover {
  background-color: var(--black);
  border-color: var(--black);
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(57.0, 57.0, 57.0, 0.5)
}

.btn-primary:active:focus {
  background-color: var(--black) !important;
  border-color: var(--gray);
}

.btn-outline-primary {
  background-color: var(--white);
  border-color: var(--black);
  color: var(--black);
}

.btn-outline-primary:hover {
  color: var(--black);
  background-color: var(--white2);
  border-color: var(--black);
}

.btn-outline-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(255.0, 255.0, 255.0, 0.5)
}

.btn-outline-primary:active:focus {
  color: var(--black) !important;
  background-color: var(--white2) !important;
  border-color: var(--gray) !important;
}

.btn.disabled, .btn:disabled {
  color: #fff;
  background-color: var(--black);
  border-color: transparent;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.card {
  border: #ececec 1px solid;
}

.card-text {
  text-align: center !important;
}

.card-item-title {
  font-family: "Kollektif Bold";
  font-size: 18px;
  text-transform: uppercase;
}

.card-item-price {
  font-family: "Glacial Indifference";
  font-size: 14px;
  color: #919395;
}

.btn-card {
  width: 100%;
}

.content {
  padding-top: 10%;
}

hr {
  width: 10%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 46px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg {
  width: 40px;
  height: 50px;
  /*background-color: white;*/
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}