:root {
    --black: #131313;
    --gray: #838383;
    --white: #FFFFFF;
    --white2: #ECECEC;
    --red: #FF393A;
  }
  
  @font-face {
    font-family: 'Kollektif';
    src: url('Fonts/Kollektif.ttf')  format('truetype');
  }
  
  @font-face {
    font-family: 'Kollektif Bold';
    src: url('Fonts/Kollektif-Bold.ttf')  format('truetype');
  }
  
  @font-face {
    font-family: 'Glacial Indifference';
    src: url('Fonts/GlacialIndifference.otf');
  }
  
  @font-face {
    font-family: 'Glacial Indifference Bold';
    src: url('Fonts/GlacialIndifferenceBold.otf');
  }
  
  .kollektif {
    font-family: "Kollektif";
  }
  
  .kollektif-bold {
    font-family: "Kollektif Bold";
  }
  
  .glacial-indifference {
    font-family: "Glacial Indifference";
  }
  
  .glacial-indifference-bold {
    font-family: "Glacial Indifference Bold";
  }
  
  .highlights {
    font-size: 36px;
  }
  
  /* general styles */
  html, body {
    height: 100%;
    width: 100%;
  }
  
  .nav-link{
    color: black
  }
  
  .navbar
  {
    border-bottom:1px solid #aaa;
  }
  
  .navbar-custom {
    background-color: white;
  }
  
  .navbar-toggler {
    border-color: #000
  }
  
  .navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  /* change the brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: rgba(0,0,0,.8);
  }
  /* change the link color */
  .navbar-custom .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
  }
  /* change the color of active or hovered links */
  .navbar-custom .nav-item.active .nav-link,
  .navbar-custom .nav-item:hover .nav-link {
    color: #000;
  }
  
  @media (min-width: 700px) {
    .info {
      margin-top: 2vw;
      width: 40%;
      align-content: flex-start;
    }
    .section {
      height: 100vh;
    }
    /* padded section */
    .pad-section {
      padding: 50px 0;
    }
    .pad-section img {
      width: 100%;
    }
    /* vertical-centered text */
    .text-vcenter {
      display: table-cell;
      text-align: right;
      vertical-align: middle;
    }
    .text-vcenter h1 {
      font-size: 4.5em;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }
  
    .footer-socmed{
      width: 20vw;
      margin: 0 auto;
    }
  }
  
  @media (max-width: 700px) {
    .footer-socmed{
      width: 50vw;
      margin: 0 auto;
    }
    .info {
      margin-top: 2vw;
      width: 80%;
      align-content: flex-start;
    }
  }
  
  #home {
    padding-top: 100px;
    display: table;
    height: 100vh;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #hero {
    background: url(Images/Oshare-Black-1.png) no-repeat center center fixed;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-size: 50vw 50vw;
  }
  
  body {
    font-family: 'Kollektif', sans-serif;
  }
  
  p,.btn {
    font-family: 'Glacial Indifference Bold', sans-serif;
  }
  
  .btn {
    font-weight: bolder;
  }
  
  .btn-primary {
    background-color: var(--black);
    border-color: var(--black);
  }
  
  .btn-primary:hover {
    background-color: #838383;
    border-color: var(--black);
  }
  
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(57.0, 57.0, 57.0, 0.5)
  }
  
  .btn-primary:active {
    background-color: var(--black) !important;
  }
  
  .btn-primary:active:focus {
    background-color: var(--black) !important;
    border-color: var(--gray);
  }
  
  .btn-outline-primary {
    background-color: var(--white);
    border-color: var(--black);
    color: var(--black);
  }
  
  .btn-outline-primary:hover {
    color: var(--black);
    background-color: var(--white2);
    border-color: var(--black);
  }
  
  .btn-outline-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255.0, 255.0, 255.0, 0.5)
  }
  
  .btn-outline-primary:active:focus {
    color: var(--black) !important;
    background-color: var(--white2) !important;
    border-color: var(--gray) !important;
  }
  
  .btn-outline-primary:active {
    background-color: var(--white) !important; 
    border-color: var(--black) !important;
    color: var(--black) !important;
  }
  
  .btn.disabled, .btn:disabled {
    color: #fff;
    background-color: var(--black);
    border-color: transparent;
  }
  
  .btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
  }
  
  .card {
    border: #ececec 1px solid;
  }
  
  .card-text {
    text-align: center !important;
  }
  
  .card-item-title {
    font-family: "Kollektif Bold";
    font-size: 18px;
    text-transform: uppercase;
  }
  
  .card-item-price {
    font-family: "Glacial Indifference";
    font-size: 14px;
    color: #919395;
  }
  
  .btn-card {
    width: 100%;
  }
  
  .content {
    padding-top: 10%;
  }
  
  .divider {
    width: 100%;
    height: 1px;
    background-color: black;
  }
  
  .totals{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .carousel-card{
    width: 80%;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
  }
  
  .continue {
    margin-top: 1vw;
  }
  
  hr {
    width: 10%;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 46px;
  }
  
  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  svg {
    width: 40px;
    height: 50px;
    /*background-color: white;*/
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: var(--black);
  }
  
  #detail-height{
    /*margin-bottom: 10vh;*/
  }
  
  a:hover {
    color: black;
    text-decoration: none;
  }
  
  #shopping-bag {
    margin-top: -5px;
    height: 20px;
    width: 20px;
  }
  
  #container-1{
    padding-top: 15vh;
    position: relative;
  }
  
  #card-1{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 220px;
    height: 338px; */
    background-color: white;
    border-color: black;
  }
  
  #card-2{
    flex-shrink: 0;
  }
  #cart-button{
    width: 178px;
  }
  
  #card-images{
    width: 154px;
  }
  
  .item-card{
    font-size: 12px;
  }
  
  .thin{
    font-weight: 100;
  }
  
  #title{
    padding-top: 80px;
  }
  
  #detail-title{
    font-weight: 800;
    font-size: 50px;
  }
  #detail-price{
    color: gray;
  }
  
  #product-title{
    font-size: 30px;
  }
  
  .list-group-item{
    font-size: 15px;
  }
  #description{
    color: #838383;
  }
  #card-body-title{
    padding-bottom: 0px;
  }
  
  #select-size{
    width: 15%;
  }
  
  #confirm{
    overflow:auto;
    height: 100vh;
  }
  
  #select-qty{
    width: 15%;
  }
  
  #thin-word{
    font-weight: 20;
    font-size: 15px;
  }
  
  .btn btn-dark{
    width: 100%;
  }
  
  .form-group row{
    padding-bottom: 0px;
  }
  
  #high{
    height: 100vh;
  }
  
  /*#container-img{*/
  /*  left: 0px;*/
  /*  width: 327px;*/
  /*  height: 350px;*/
  /*  !*background-color: brown;*!*/
  /*}*/
  
  #detail-images{
    width: 100%;
    height: 100%;;
  }
  
  /* #row-1{
   background-color: lightcoral;
  }
  
  #row-2{
   background-color: aquamarine;
  } */
  
  .page-footer{
    background-color: black;
    bottom: 0;
    /*position: absolute;*/
  }
  
  
  #alamat{
    color: white;
  }
  
  #kantor, #gudang{
    color: white;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content Link {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content Link:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .nav-item .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  #login .container{
    margin-top: 50px;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box{
    margin-top: 50px;
    max-width: 600px;
    height: 320px;
  }
  
  #login .container #login-row #login-column #login-box #login-form{
    padding: 20px;
  }
  
  #login .container #login-row #login-column .login-box #login-form #register-link {
    margin-top: -85px;
  }
  
  #signup .container{
    margin-top: 50px;
    height: 150vh;
  }
  #signup-box{
    margin-top: 50px;
    max-width: 600px;
    height: 320px;
  }
  
  #signup-form{
    padding: 20px;
  }
  
  #error{
    color: red;
  }
  
  #profile .card{
    margin-top: 20vh;
    width: 18rem;
    margin-bottom: 10vh;
  }
  
  #profile .card-img-top{
    margin-top: 5vh;
    width: 8rem;
    align-content: center;
  }
  
  #profile .card-title{
    text-align: center;
  }
  
  #links{
    padding: 50px;
  }
  